<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <appender name="RollingFileAppender" type ="log4net.Appender.RollingFileAppender">
    <file value="${TMP}\ISE.ExStream.Web.UI" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="\.yyyyMMdd\.\l\o\g" />
    <maxSizeRollBackups value="10" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %property - %message%newline" />
    </layout>
    <!-- This will log Info and above i.e. Fatal, Error, Warning, Debug and Information level 
      messages. This is intentional so the log files keep a historical record. -->
    <threshold value="INFO" />
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <param name="LogName" value="ExStream" />
    <param name="ApplicationName" value="ISE.ExStream.Web.UI" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Ticket:%newline%property{Ticket}%newline%newlineThread:%newline%thread%newline%newlineLogged by Component:%newline%logger%newline%newline%Detail:%newline%message%newline%newlineApplication Domain%newline%appdomain%newline%newlineWindows Identity%newline%property{WindowsIdentity}%newline%newlineThread Identity%newline%property{ThreadIdentity}%newline%newline" />
    </layout>
    <!-- This will log Errors and above i.e. Fatal and Error level messages -->
    <threshold value="ERROR" />
  </appender>

  <root>
    <!-- This needs to be set at INFO so all messages are logged, the individual appenders take 
      care of filtering out messages using the "threshold" setting -->
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
  </root>

  <logger name="ISE">
    <level value="ALL" />
    <appender-ref ref="EventLogAppender" />
  </logger>

  <logger name="ISE.Framework.Instrumentation.ExecutionTimerInterceptor" additivity="false">
    <level value="INFO" />
    <appender-ref ref="PerformanceAppender" />
  </logger>

  <appender name="PerformanceAppender" type ="log4net.Appender.RollingFileAppender">
    <file value="${TMP}\ISE.ExStream.Web.UI.Performance" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="\.yyyyMMdd\.\l\o\g" />
    <maxSizeRollBackups value="5" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date|%thread|%-5level|%message%newline" />
    </layout>
    <!-- This will log Info and above i.e. Fatal, Error, Warning, Debug and Information level 
      messages. This is intentional so the log files keep a historical record. -->
    <threshold value="INFO" />
  </appender>

  <logger name="ISE.Framework.Instrumentation.Operations.OperationLogger" additivity="false">
    <level value="INFO" />
    <appender-ref ref="LoggingAppender" />
    <appender-ref ref="OperationLoggerEventLogAppender" />
  </logger>

  <appender name="OperationLoggerEventLogAppender" type="ISE.Framework.Logging.Log4Net.ExStreamEventLogAppender">
    <param name="EventId" value="47000" />
    <param name="LogName" value="ExStream" />
    <param name="ApplicationName" value="ISE.ExStream.Web.UI" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="Ticket:%newline%property{Ticket}%newline%newlineThread:%newline%thread%newline%newlineLogged by Component:%newline%logger%newline%newlineApplication Domain%newline%appdomain%newline%newlineWindows Identity%newline%property{WindowsIdentity}%newline%newlineThread Identity%newline%property{ThreadIdentity}%newline%newline" />
    </layout>
    <!-- This will log Errors and above i.e. Fatal and Error level messages -->
    <threshold value="ERROR" />
  </appender>

  <appender name="LoggingAppender" type="ISE.Framework.Logging.Log4Net.ExStreamAdoNetAppender, ISE.Framework">
    <appender-ref ref="EventLogAppender" />
    <reassignEventId>65535</reassignEventId>
    <reconnectOnError>true</reconnectOnError>
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="Data Source=.;Initial Catalog=ISEExStream;User Id=ExStreamLogger;Password=V0Lum3$" />
    <commandText value="INSERT INTO logging.Log ([Date],[Thread],[Level],[Logger], [Ticket],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @ticket, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ticket" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{Ticket}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="2147483647 " />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <size value="800" />
      <dbType value="String" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>

</log4net>
