<client>

  <!-- ISE.ExStream.Services -->
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/AnnouncementSubmissionService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IAnnouncementSubmissionService"
    name="AnnouncementSubmissionServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/DocumentManagementService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationMtomWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IDocumentManagementService"
    name="DocumentManagementServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/OfficeAutomationService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationMtomWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IOfficeAutomationService"
    name="OfficeAutomationServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/ReportService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IReportService"
    name="ReportServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/BusinessEventService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IBusinessEventService"
    name="BusinessEventServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/NotificationService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.INotificationService"
    name="NotificationServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/GeneralJobService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IGeneralJobService"
    name="GeneralJobServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/GeneralSubmissionService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IGeneralSubmissionService"
    name="GeneralSubmissionServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Web.Services/AnnualBillingService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Services.Spec.IAnnualBillingService"
    name="AnnualBillingServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
  address="http://localhost/ISE.ExStream.Web.Services/InvoicingService.svc"
  behaviorConfiguration="ImpersonationEndpointBehavior"
  binding="wsHttpBinding"
  bindingConfiguration="ImpersonationWsHttpBinding"
  contract="ISE.ExStream.Services.Spec.IInvoicingService"
  name="InvoicingServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
  address="http://localhost/ISE.ExStream.Web.Services/TransparencyInitiativeService.svc"
  behaviorConfiguration="ImpersonationEndpointBehavior"
  binding="wsHttpBinding"
  bindingConfiguration="ImpersonationWsHttpBinding"
  contract="ISE.ExStream.Services.Spec.ITransparencyInitiativeService"
  name="TransparencyInitiativeServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
    </identity>
  </endpoint>
  <!-- ISE.ExStream.Crm.Services -->
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/AnnouncementService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IAnnouncementService"
    name="AnnouncementServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/ContactService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IContactService"
    name="ContactServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/OrganisationService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IOrganisationService"
    name="OrganisationServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/SubmissionService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.ISubmissionService"
    name="SubmissionServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/TaskService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.ITaskService"
    name="TaskServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/QueueService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IQueueService"
    name="QueueServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/EmailService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IEmailService"
    name="EmailServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/JobTypeService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IJobTypeService"
    name="JobTypeServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/DepartmentService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IDepartmentService"
    name="DepartmentServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/EventService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IEventService"
    name="EventServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/UserService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IUserService"
    name="UserServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/EntitySharingService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IEntitySharingService"
    name="EntitySharingServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/EntityStatusService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IEntityStatusService"
    name="EntityStatusServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/EntityService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IEntityService"
    name="EntityServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/InstrumentService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IInstrumentService"
    name="InstrumentServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/IssuerService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IIssuerService"
    name="IssuerServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/JobService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IJobService"
    name="JobServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/SlaService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.ISlaService"
    name="SlaServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/AnnualBillingService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IAnnualBillingService"
    name="AnnualBillingServiceCrmClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/InvoicingService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IInvoicingService"
    name="InvoicingServiceCrmClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/FeeService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IFeeService"
    name="FeeServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/CounterService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.ICounterService"
    name="CounterServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/PaymentAllocationService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IPaymentAllocationService"
    name="PaymentAllocationServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/PaymentService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.IPaymentService"
    name="PaymentServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>
  <endpoint
    address="http://localhost/ISE.ExStream.Crm.Web.Services/CalendarService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Crm.Services.Spec.ICalendarService"
    name="CalendarServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
    </identity>
  </endpoint>

  <!-- ISE.ExStream.Workflow.Services -->
  <endpoint
    address="http://localhost/ISE.ExStream.Workflow.Web.Services/WorkflowService.svc"
    behaviorConfiguration="ImpersonationEndpointBehavior"
    binding="wsHttpBinding"
    bindingConfiguration="ImpersonationWsHttpBinding"
    contract="ISE.ExStream.Workflow.Services.Spec.IWorkflowService"
    name="WorkflowServiceClient">
    <identity>
      <servicePrincipalName value="ISEExStreamWorkflowWebServicesAppPool/Ise.ExStream.Workflow.Web.Services" />
    </identity>
  </endpoint>

</client>
