<bindings>
  <!-- wsHttpBinding -->
  <wsHttpBinding>
    <!-- For Impersonation -->
    <binding
      name="ImpersonationWsHttpBinding"
      closeTimeout="00:00:20" openTimeout="00:01:00"
      receiveTimeout="00:10:00" sendTimeout="00:05:00"
      maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas
        maxDepth="32"
        maxStringContentLength="2147483647" maxArrayLength="2147483647"
        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="Message">
        <message
          clientCredentialType="Windows"
          negotiateServiceCredential="false"
          establishSecurityContext="false" />
      </security>
    </binding>
    <binding
      name="ImpersonationMtomWsHttpBinding"
      closeTimeout="00:00:20" openTimeout="00:01:00"
      receiveTimeout="00:10:00" sendTimeout="00:05:00"
      maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
      messageEncoding="Mtom">
      <readerQuotas
        maxDepth="32"
        maxStringContentLength="2147483647" maxArrayLength="2147483647"
        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="Message">
        <message
          clientCredentialType="Windows"
          negotiateServiceCredential="false"
          establishSecurityContext="false" />
      </security>
    </binding>
    <!-- For Delegation -->
    <binding
      name="DelegationWsHttpBinding"
      closeTimeout="00:00:20" openTimeout="00:01:00"
      receiveTimeout="00:10:00" sendTimeout="00:05:00"
      maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
      <readerQuotas
        maxDepth="32"
        maxStringContentLength="2147483647" maxArrayLength="2147483647"
        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    </binding>
    <binding
      name="DelegationMtomWsHttpBinding"
      closeTimeout="00:00:20" openTimeout="00:01:00"
      receiveTimeout="00:10:00" sendTimeout="00:05:00"
      maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
      messageEncoding="Mtom">
      <readerQuotas
        maxDepth="32"
        maxStringContentLength="2147483647" maxArrayLength="2147483647"
        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    </binding>
  </wsHttpBinding>
</bindings>
