<behaviors>
  <endpointBehaviors>
    <!-- 
      Delegation used for System Test, UAT and Live as the client credentials 
      need to be Delegated. -->
    <behavior
      name="DelegationEndpointBehavior">
      <clientCredentials>
        <windows allowedImpersonationLevel="Delegation" />
      </clientCredentials>
      <contextEndpointPersistence/>
    </behavior>
    <!-- 
      Impersonation used for Development (and Build) as in those environments 
      the whole stack is on the same machine and the client credentials do not
      need to be Delegated. -->
    <behavior
      name="ImpersonationEndpointBehavior">
      <clientCredentials>
        <windows allowedImpersonationLevel="Impersonation" />
      </clientCredentials>
      <contextEndpointPersistence/>
    </behavior>
  </endpointBehaviors>
  <serviceBehaviors>
    <behavior name="DevelopmentServiceBehavior">
      <!-- Defaults:
        maxConcurrentCalls="16"
        maxConcurrentInstances="2147483647"
        maxConcurrentSessions="10" -->
      <serviceThrottling
        maxConcurrentCalls="16"
        maxConcurrentInstances="2147483647"
        maxConcurrentSessions="10" />
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true"/>
      <contextServicePersistence/>
    </behavior>
    <behavior name="TestServiceBehavior">
      <!-- Defaults:
        maxConcurrentCalls="16"
        maxConcurrentInstances="2147483647"
        maxConcurrentSessions="10" -->
      <serviceThrottling
        maxConcurrentCalls="16"
        maxConcurrentInstances="2147483647"
        maxConcurrentSessions="250" />
      <serviceMetadata httpGetEnabled="false" />
      <serviceDebug includeExceptionDetailInFaults="true"/>
      <contextServicePersistence/>
    </behavior>
    <behavior name="ProductionServiceBehavior">
      <!-- Defaults:
        maxConcurrentCalls="16"
        maxConcurrentInstances="2147483647"
        maxConcurrentSessions="10" -->
      <serviceThrottling
        maxConcurrentCalls="16"
        maxConcurrentInstances="2147483647"
        maxConcurrentSessions="1000" />
      <serviceMetadata httpGetEnabled="false" />
      <serviceDebug includeExceptionDetailInFaults="false"/>
      <contextServicePersistence/>
    </behavior>
  </serviceBehaviors>
</behaviors>