<extensions>
  <behaviorExtensions>
    <add name="contextEndpointPersistence" type="ISE.Framework.Behaviors.ContextEndpointBehaviorExtensionElement, ISE.Framework, Version=1.0.9264.2, Culture=neutral, PublicKeyToken=52f2eca14b64e4eb"/>
    <add name="contextServicePersistence" type="ISE.Framework.Behaviors.ContextServiceBehaviorExtensionElement, ISE.Framework, Version=1.0.9264.2, Culture=neutral, PublicKeyToken=52f2eca14b64e4eb"/>
  </behaviorExtensions>
</extensions>