<services>

  <!-- ISE.ExStream.Services -->
  <service
    name="ISE.ExStream.Services.AnnouncementSubmissionService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IAnnouncementSubmissionService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.DocumentManagementService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationMtomWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IDocumentManagementService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.OfficeAutomationService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationMtomWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IOfficeAutomationService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.BusinessEventService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IBusinessEventService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.NotificationService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.INotificationService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.GeneralSubmissionService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IGeneralSubmissionService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.GeneralJobService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IGeneralJobService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Services.AnnualBillingService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IAnnualBillingService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
  name="ISE.ExStream.Services.InvoicingService"
  behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.IInvoicingService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
  name="ISE.ExStream.Services.TransparencyInitiativeService"
  behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Services.Spec.ITransparencyInitiativeService">
      <identity>
        <servicePrincipalName value="ISEExStreamWebServicesAppPool/Ise.ExStream.Web.Services" />
      </identity>
    </endpoint>
  </service>

  <!-- ISE.ExStream.Crm.Services -->
  <service
    name="ISE.ExStream.Crm.Services.AnnouncementService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IAnnouncementService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.ContactService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IContactService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.OrganisationService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IOrganisationService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.SubmissionService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.ISubmissionService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.TaskService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.ITaskService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.QueueService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IQueueService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.EmailService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IEmailService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.FeeService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IFeeService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.CounterService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.ICounterService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.PaymentAllocationService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IPaymentAllocationService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.PaymentService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IPaymentService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.JobTypeService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IJobTypeService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.UserService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IUserService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.EntityService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IEntityService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.EntitySharingService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IEntitySharingService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.EntityStatusService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IEntityStatusService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.InstrumentService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IInstrumentService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.JobService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IJobService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.DepartmentService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IDepartmentService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.AnnualBillingService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IAnnualBillingService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
   name="ISE.ExStream.Crm.Services.InvoicingService"
   behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IInvoicingService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.SlaService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.ISlaService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.CalendarService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.ICalendarService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>
  <service
    name="ISE.ExStream.Crm.Services.IssuerService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Crm.Services.Spec.IIssuerService">
      <identity>
        <servicePrincipalName value="ISEExStreamCrmWebServicesAppPool/Ise.ExStream.Crm.Web.Services" />
      </identity>
    </endpoint>
  </service>

  <!-- ISE.ExStream.Workflow.Services -->
  <service
    name="ISE.ExStream.Workflow.Services.WorkflowService"
    behaviorConfiguration="DevelopmentServiceBehavior">
    <endpoint
      binding="wsHttpBinding"
      bindingConfiguration="ImpersonationWsHttpBinding"
      contract="ISE.ExStream.Workflow.Services.Spec.IWorkflowService">
      <identity>
        <servicePrincipalName value="ISEExStreamWorkflowWebServicesAppPool/Ise.ExStream.Workflow.Web.Services" />
      </identity>
    </endpoint>
  </service>

</services>
